.ant-card-head {
  min-height: 0px !important;
  font-size: 20px !important;
  padding: 0px !important;
}

.ant-card-head-title {
  padding: 0px !important;
}

.ant-card-body {
  padding: 0px !important;
}

.ant-descriptions-item-label {
  font-size: 15px !important;
}

.bg-left-column {
  color: rgba(228, 175, 43, 0.88);
  background-color: rgba(228, 175, 43, 0.88);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
