* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  min-height: 70vh;
  background-image: linear-gradient(rgba(44, 41, 41, 0.752),
      rgba(44, 41, 41, 0.692)),
    url("/public/images/rate.jpg");
  background-size: cover;
  position: relative;
  margin-bottom: 20px;
}

.logo {
  font-size: 30px;
}

.logo {
  text-decoration: none;
}

#part1 {
  color: #EFF5F5;
  font-size: 45px;
  margin-left: 10px;
}

#part2 {
  color: #EB6440;
  font-weight: bold;
  font-size: 45px;
}

nav .logo .fa {
  display: contents;
  color: #EB6440;
  font-size: 40px;
  padding-right: 20px;
}

nav a {
  text-decoration: none;
}

nav {
  display: flex;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
  background-color: #003b49;
}

.navigation {
  flex: 1;
  text-align: right;
}

.navigation ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navigation ul li a {
  background: white;

  -webkit-background-clip: text;
  /* Make the text fill color value transparent so the masked background color comes through */
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navigation ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #EB6440;
  display: block;
  margin: auto;
}

p {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-top: 30px;

  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.navigation ul li:hover::after {
  width: 100%;
  transition-duration: 0.5s;
}

.text-box {
  width: 90%;
  color: #EFF5F5;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}




.visit-btn {
  display: inline-block;
  text-decoration: none;
  color: #EFF5F5;
  border: 1px solid #fff;
  padding: 12px 34px;
  background-color: #588e89;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.visit-btn:hover {
  border: 1px solid #497174;
  background: #EB6440;
  transition: 1s;
  color: #497174;
}

.section-title h1 {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}

nav .fa {
  display: none;
}

.section-title h1 {
  text-align: center;
}

.row {
  justify-content: space-between;
  display: flex;
}

.links {
  flex-basis: 33%;
}

.address {
  margin-left: 30px;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

img {
  
  max-width: 100%;
  height: 60vh;
  background-size: cover;
  position: relative;
  border-radius: 4px;
  margin-bottom: 20px;
 
  

}

.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
  margin-top: 50px;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  background-color: rgb(238, 244, 248);
}

.con {
  padding: 0 16px;
}

.con::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #588e89;
  font-weight: bold;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: black;
  background-color: #588e89;
  background-image: linear-gradient(90deg, #588e89, lightpink);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.button:hover {
  background-color: #588e89;
}

.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.contact-info {
  color: black;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 20px;
  margin-bottom: 80px;
}

.contact-form {
  margin-top: 20px;
  max-width: 700px;
  margin-right: 50px;
}

.contact-info,
.contact-form {
  flex: auto;
}

.contact-form .text-box1 {
  background-color: black;
  margin-right: 8px;
  color: white;
  font-weight: bold;
  border: none;
  width: calc(49% - 1px);
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .text-box:first-child {
  margin-right: 1px;
}

.contact-form textarea {
  background-color: black;

  color: white;
  border: none;
  font-weight: bold;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .send-btn {

  margin-left: 290px;
  display: inline-block;
  text-decoration: none;
  color: #EFF5F5;
  border: 1px solid #fff;
  padding: 12px 34px;
  background-color: #588e89;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;

}

.contact-form .send-btn:hover {
  border: 1px solid #497174;
  background: #EB6440;
  transition: 1s;
  color: #497174;
}

.contact-map {
  margin-top: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}



.footer-distributed {
  background:  #003b49;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: white;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #EB6440;
  font-weight: bold;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #f2c75c;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #f2c75c;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #003b49;
  color: #f2c75c;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #f2c75c;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #f2c75c;
  text-decoration: none;
  ;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #EFF5F5;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #f2c75c;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #f2c75c;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #f2c75c;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

}


@media only screen and (max-width: 768px) {
  .text-box h1 {
    font-size: 20px;
  }

  .navigation ul li {
    display: block;
  }

  .navigation {
    position: absolute;
    background: #f44336;
    height: 70vh;
    width: 200px;
    top: 0;
    right: 1000px;
    text-align: left;
    z-index: 2;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  nav .fa ul {
    padding: 25px;
  }

  .row {
    display: block;
    margin-left: 25px;
  }

  .address {
    margin: 0;
  }

  #footer .footer-top .links {
    margin-bottom: 30px;
  }

  #footer .links h4 {
    margin: 0;
  }

  #footer .footer-top .footer-newsletter form {
    margin: 0;
  }

  #footer .footer-top .social-links a {
    width: 50px;
    height: 36px;
  }
}

@media only screen and (max-width: 768px) {
  .contact-section {
    flex-direction: column;
  }

  .contact-info {
    font-size: 12px;
    font-weight: bold;
  }

  .contact-info,
  .contact-form {
    margin: 30px 50px;
  }

  .contact-form .text-box {
    width: 100%;
  }

  .contact-form .send-btn:hover {
    background: red;
  }

  .contact-form .send-btn {
    margin: auto;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 1200px) {
  .img{
    height: auto;
  }
}
